@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --background-secondary: theme('colors.gray.50');
    --foreground: theme('colors.emerald.900');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.700');
    --primary-light: theme('colors.gray.500');
  }
  
  [data-theme='dark'] {
    /* --background: theme('colors.black'); */
/* --background: ${colors.black-light};
    --background-secondary: theme('colors.gray.800');
    --foreground:theme('colors.fuchsia.900');
    --accent-dark: theme('colors.fuchsia.900');
    --accent-medium: theme('colors.fuchsia.700');
    --accent-light: theme('colors.fuchsia.500');
  
    --primary-dark: theme('colors.gray.300');
    --primary-medium: theme('colors.gray.200');
    --primary-light: theme('colors.gray.100');
  } */

/* [data-theme='emerald'] { */
/* --background: theme('colors.white'); */
/* --background: theme('colors.emerald.700');
    --accent-dark: theme('colors.emerald.900');
    --accent-medium: theme('colors.emerald.700');
    --accent-light: theme('colors.emerald.500');
    --primary-dark: theme('colors.gray.300');
    --primary-medium: theme('colors.gray.200');
    --primary-light: theme('colors.gray.100');
    --foreground: theme('colors.gray.700');
  } */

/* [data-theme='pink'] { */
/* --background: theme('colors.gray.900'); */
/* --background: theme('colors.pink.900');
    --background-secondary: theme('colors.gray.800');
  
    --accent-dark: theme('colors.pink.900');
    --accent-medium: theme('colors.pink.700');
    --accent-light: theme('colors.pink.500');
  
    --primary-dark: theme('colors.gray.300');
    --primary-medium: theme('colors.gray.200');
    --primary-light: theme('colors.gray.100');
    --foreground:theme('colors.gray.700');
  }  */

:root {
  --background: theme(colors.primary-light);
  /* Assuming you have a primary-light color token */
  --background-secondary: theme(colors.primary-light);
  /* --foreground: ('colors.gray.700'); */
  --primary-dark: theme(colors.black);
  --primary-medium: theme(colors.black-light);
  --primary-light: theme(colors.white-dark);
}

[data-theme='dark'] {
  --background: theme(colors.black-light);
  --background-secondary: theme(colors.primary);
  --foreground: theme(colors.white);
  --accent-dark: theme(colors.error);
  --accent-medium: theme(colors.warning);
  --accent-light: theme(colors.info);
  --primary-medium: theme(colors.error);
  /* --primary-dark: theme(colors.primary-dark);
    --primary-medium: theme(colors.primary-medium); */
  --primary-light: theme(colors.primary-light);
}

[data-theme='emerald'] {
  --background: theme(colors.primary-light);
  --accent-dark: theme(colors.primary);
  --accent-medium: theme(colors.black);
  --accent-light: theme(colors.black-light);
  --primary-dark: theme(colors.white);
  --primary-medium: theme(colors.primary);
  --primary-light: theme(colors.error);
  --foreground: theme(colors.warning);
}

[data-theme='pink'] {
  --background: theme(colors.error);
  --background-secondary: theme(colors.warning);

  --accent-dark: theme(colors.info);
  --accent-medium: theme(colors.primary);
  --accent-light: theme(colors.primary-light);

  --primary-dark: theme(colors.black);
  --primary-medium: theme(colors.black-light);
  --primary-light: theme(colors.white);
  --foreground: theme(colors.white-dark);
}